<div class="container">
  <div class="image-container">
    <img src="assets/maxi.jpeg" alt="Image" />
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <h2 [ngStyle]="{ color: 'red' }">WE DELIVER NATION WIDE</h2>
        <p>over 1.4million sales of Tiles per month</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2 [ngStyle]="{ color: 'blue' }">WE ACCPET ONLINE ORDERS</h2>
        <p>Approximately 47 million online orders each year</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2 [ngStyle]="{ color: 'green' }">WE SALE ONSITE</h2>
        <p>over 2.5million sales of Tiles per month</p>
      </div>
    </div>

    <!-- Add more cards as needed -->
  </div>
</div>
