<!-- <div class="background">
  <body class="background-image">
    <div class="con">
      <div class="word">The best selection of discounted tiles.</div>
      <div class="our">
        All kinds of tiles. For bathroom, kitchen, floor or wall. MORE THAN ONE
        MILLION OF SQM OF STOCK
      </div>
      <div class="take">TAKE ACTION WITH US</div>
    </div>
  </body>
</div> -->

<section class="hero">
  <div class="hero-content">
    <h1 class="word">Discover Premium Tiles for Your Space With Maxi Tiles</h1>
    <p class="our">
      Explore our exquisite collection of tiles to enhance your interiors.
    </p>
    <a class="cta-button">Get Started</a>
  </div>
</section>
