<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="footer, address, phone, icons" />

    <title>Responsive Footer</title>

    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />

    <link
      href="http://fonts.googleapis.com/css?family=Cookie"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <h1>Want To Know Us?</h1>
      <h2>Have a look</h2>
      <h2><span>What We Do</span></h2>
    </header>

    <!-- The content of your page would go here. -->

    <footer class="footer-distributed">
      <div class="footer-left">
        <img src="assets/logo.jpg" />
        <h3>About<span>MaxiTiles</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">Blog</a>
          |
          <a href="#">About</a>
          |
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">© 2023 MaxiTiles</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span
              >Tetlo by anokwuru street number 182 step 1 imo state Owerri</span
            >
            <!-- world bank housing estate new owerri, - 400710 -->
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+234 7085101799</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:support@eduonix.com">onuohamaximus16@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          We Sale All Kinds Of Tiles Nation Wide, We Also Accept Online
          Transactions. Feel Free To Visit U s At Tetlo by anokwuru street
          number 182 step 1 imo state Owerri Or Call +2347085101799 For More
          Enquiries
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <!-- <i class="fab fa-facebook-square facebook-icon"></i> -->

          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
